################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.Cmd/bin/Debug/net8.0
/App.Cmd/obj
/App.Core/obj/Debug/net8.0
/App.Core/obj
/App.Core/bin/Debug/net8.0
/App.Cmd/bin/Release/net8.0
/App.Core/bin/Release/net8.0
/App.WPF/obj
/WpfApp/bin/Release/net8.0-windows
/WpfApp/obj
/App.WPF
/WpfApp/bin/Debug/net8.0-windows
/._.gitignore
/ClientAPP/bin/Debug/net8.0-windows
/ClientAPP/obj
/*.DS_Store
/*.DS_Store
/saves.json
/state.json
/UML - DOCS/Livrable 3/.DS_Store
/UML - DOCS/Livrable 3/._Document utilisateur EasySave.pdf
/UML - DOCS/Livrable 3/._Diagramme de séquence.svg
/UML - DOCS/Livrable 3/._Diagramme de séquence.pdf
/UML - DOCS/Livrable 3/._Diagramme de classes.svg
/UML - DOCS/Livrable 3/._Diagramme de classes.pdf
/UML - DOCS/Livrable 3/._Diagramme de cas utilisation.svg
/UML - DOCS/Livrable 3/._Diagramme de cas d'utilisation.pdf
/UML - DOCS/Livrable 3/._Diagramme d'activité.svg
/UML - DOCS/Livrable 3/._Diagramme d'activité.pdf
/UML - DOCS/Livrable 3/._.DS_Store
/UML - DOCS/._.DS_Store
/UML - DOCS/.DS_Store
/UML - DOCS/DESPREZ_Julien_JAGUENEAU_Louis_LORIT_Nathan_PESCHEL_Paul_B2_EasySave_de_chez_ProSoft_Livrable_3.zip
/UML - DOCS/Livrable 1.zip
/UML - DOCS/Livrable 2.zip
