################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.Cmd/bin/Debug/net8.0
/App.Cmd/obj
/App.Core/obj/Debug/net8.0
/App.Core/obj
/App.Core/bin/Debug/net8.0
/App.Cmd/bin/Release/net8.0
/App.Core/bin/Release/net8.0
/App.WPF/obj
/WpfApp/bin/Release/net8.0-windows
/WpfApp/obj
/App.WPF
