<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogsExtension" value="JSON" />
		<add key="LogicielMetier" value="paint.exe" />
		<add key="priority" value="txt,docx,xlsx,pptx,doc,pdf,zip,rar,7z,mp3,mp4,avi,flv,wmv,mpg,mov,exe,msi,apk,iso,img" />
	</appSettings>
</configuration>